<section id="home">
    <div class="Center">
        <div id="welcome">
            <h1>Bem vindo!</h1>
        </div>

        <div id="get-country">
            <h2>Digite abaixo o código do país que deseja conhecer:</h2>

            <div id="get-country__form">
                <form method="get" action="/country">
                    <input type="text" id="cname" name="cname" placeholder="Ex: BRA" />
                    <input type="submit" value="Buscar" id="submit" />
                </form>
            </div>
        </div>

        <p>
            <a href="https://www.rallybel.com/pt/links_iso_code2.html" target="_blank" rel="noopener noreferrer">
                Não sei o código do país
            </a>
        </p>
    </div>
</section>